<nav class="fixed-top navbar navbar-light p-0" style="background-color: burlywood">
    <p class="navbar-brand"><a class="text-dark" href="\">Моя библиотека</a></p>
    <p class="navbar-brand text-center">  <a class="text-dark" href="/book">Менеджер книг</a></p>
    <p class="navbar-brand">{{ user }},<a class="text-dark" href="/logout" > Выход </a></p>
</nav>